<!DOCTYPE html>
<html lang="en">
<head>
<title>Gamenow</title>

<meta name="description" content="Discover and Play the Latest Mobile Games and Apps. No data charges">
<meta name="keywords" content="games, pubg, ninja">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="assets/frontend/css/bootstrap-min.css">
<link rel="stylesheet" href="assets/frontend/css/style.css">
<link rel="stylesheet" type="text/css" href="assets/frontend/fontawesome-5.15.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="assets/frontend/fontawesome-5.15.1/css/brands.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="assets/frontend/css/glider.css" />
<script src="assets/frontend/js/jquery.js"></script>
<script src="assets/frontend/js/bootstrap.js"></script>
<script src="assets/frontend/js/glider.js"></script>
<script>
  window.addEventListener('load',function(){
		window._ = new Glider(document.querySelector('.glider-1'), {
		slidesToShow: 3, //'auto',
		slidesToScroll: 3,
		itemWidth: 150,
		draggable: true,
		scrollLock: false,
		dots: '#dots',
		rewind: true,
		arrows: false,
		responsive: [
			{
				breakpoint: 800,
				settings: {
					slidesToShow: 4.2, 
				}
			},
		 ]
	   
	});
		window._ = new Glider(document.querySelector('.glider-5'), {
		slidesToShow: 3, //'auto',
		slidesToScroll: 3,
		itemWidth: 150,
		draggable: true,
		scrollLock: false,
		dots: '#dots',
		rewind: true,
		arrows: false,
		responsive: [
			{
				breakpoint: 800,
				settings: {
					slidesToShow: 4.2, 
				}
			},
		 ]
	   
	});
		window._ = new Glider(document.querySelector('.glider-05'), {
		slidesToShow: 3, //'auto',
		slidesToScroll: 3,
		itemWidth: 150,
		draggable: true,
		scrollLock: false,
		dots: '#dots',
		rewind: true,
		arrows: false,
		responsive: [
			{
				breakpoint: 800,
				settings: {
					slidesToShow: 4.2, 
				}
			},
		 ]
	   
	});
		 window._ = new Glider(document.querySelector('.slide-menu'), {
		slidesToShow: 4, //'auto',
		slidesToScroll: 1,
		itemWidth: 80,
		draggable: true,
		scrollLock: false,
		dots: '#dots',
		rewind: true,
		arrows: false,
		center:true,
	   
	});
		window._ = new Glider(document.querySelector('.glider-0'), {
		slidesToShow: 1, //'auto',
		slidesToScroll: 1,
		itemWidth: 150,
		draggable: true,
		scrollLock: false,
		dots: '#dots',
		rewind: true,
		arrows: false,
		responsive: [
			{
				breakpoint: 800,
				settings: {
					slidesToShow: 1.1, 
				}
			},
		 ]
	   
	});
   
	window._ = new Glider(document.querySelector('.glider-2'), {
		slidesToShow: 1.3, //'auto',
		slidesToScroll: 1,
		itemWidth: 150,
		draggable: true,
		scrollLock: false,
		dots: '#dots',
		rewind: true,
		arrows: false,
		responsive: [
			{
				breakpoint: 800,
				settings: {
					slidesToShow: 2.1, 
				}
			},
		 ]
	   
	});
		  window._ = new Glider(document.querySelector('.glider-6'), {
		slidesToShow: 1.3, //'auto',
		slidesToScroll: 1,
		itemWidth: 150,
		draggable: true,
		scrollLock: false,
		dots: '#dots',
		rewind: true,
		arrows: false,
		responsive: [
			{
				breakpoint: 800,
				settings: {
					slidesToShow: 2.1, 
				}
			},
		 ]
	   
	});
		  window._ = new Glider(document.querySelector('.glider-3'), {
		slidesToShow: 3, //'auto',
		slidesToScroll: 3,
		itemWidth: 150,
		draggable: true,
		scrollLock: false,
		dots: '#dots',
		rewind: true,
		arrows: false,
		responsive: [
			{
				breakpoint: 800,
				settings: {
					slidesToShow: 4.2, 
				}
			},
		 ]
	   
	});  window._ = new Glider(document.querySelector('.glider-4'), {
		slidesToShow: 1, //'auto',
		slidesToScroll: 1,
		itemWidth: 150,
		draggable: true,
		scrollLock: false,
		dots: '#dots',
		rewind: true,
		arrows: false,
		responsive: [
			{
				breakpoint: 800,
				settings: {
					slidesToShow: 1.1, 
				}
			},
		 ]
	   
	});
	
		window._ = new Glider(document.querySelector('.glider-01'), {
		slidesToShow: 3, //'auto',
		slidesToScroll: 3,
		itemWidth: 150,
		draggable: true,
		scrollLock: false,
		dots: '#dots',
		rewind: true,
		arrows: false,
		responsive: [
			{
				breakpoint: 800,
				settings: {
					slidesToShow: 4.2, 
				}
			},
		 ]
	   
	});
		 
	  
	   
		  window._ = new Glider(document.querySelector('.glider-03'), {
		slidesToShow: 3, //'auto',
		slidesToScroll: 3,
		itemWidth: 150,
		draggable: true,
		scrollLock: false,
		dots: '#dots',
		rewind: true,
		arrows: false,
		responsive: [
			{
				breakpoint: 800,
				settings: {
					slidesToShow: 4.2, 
				}
			},
		 ]
	   
	});  window._ = new Glider(document.querySelector('.glider-04'), {
		slidesToShow: 1, //'auto',
		slidesToScroll: 1,
		itemWidth: 150,
		draggable: true,
		scrollLock: false,
		dots: '#dots',
		rewind: true,
		arrows: false,
		responsive: [
			{
				breakpoint: 800,
				settings: {
					slidesToShow: 1.1, 
				}
			},
		 ]
	   
	});

  });
</script>
<style type="text/css">
.slide-menu.glider.draggable {
		position: fixed;
		bottom: 0;
		background: #202123;
		z-index: 1;
		border-top: 1px solid #4a4a4a;
		padding: 10px 0px;
	}
	
</style>

<style>
.avatar-player-name > div.img-icon {
    width: 100px;
    height: 100px;
    margin: auto;
}
.relative {
    position: relative;
}
.avatar-player-name > div.relative > span > i {
    padding: 4px;
    border-radius: 50%;
    background: rgb(255,255,255);
	color: #2b2b2b;
    position: absolute;
    right: 6px;
    bottom: 0px;
    border: 3px solid;
}

	
.thumb-container > img {
		text-align: center !important;
		max-width:100%;
	}
	
	.thumb-container{
		background:#efefef;
		border-radius:5px;
		padding:10px 10px 10px 10px;
	}
	.padding-10{
		padding:10px !important;
	}
	
	.thumb-container-active{
		background:#2b2b2b !important;
		
	}
	
</style>


<?php // include "pwa_settings.php"; ?>
<?php // include "google_analytics.php"; ?>
 
</head>
<body>
<div id="preloader">
<div id="status">&nbsp;</div>
</div>

<div class="main-wrapper">

<?php // include("sidebar.php"); ?>


<div id="mySidenav" class="sidenav">
	<div class="sidebar-head">
		<span class="pull-left">
			<img id="user-img-sidebar" class="menu-profile-picture" src="uploads/site_users/default.png" width="44">
			
		</span>
		
			<span class="pull-left">+92 **********</span>
		
	
	
	</div>
	<hr style="border-top: 1px solid #424242;">
	<a href="javascript:void(0)" class="closebtn">&times;</a>

	<div class="side-menu">
		<ul>
			<li><a href="#" class="active"><i class="menu-item fa fa-home"></i> <span>Home</span></a></li>
			
			
				<li><a href="javascript(0);" data-toggle="modal" data-target="#loginModal"> <i class="menu-item fa fa-user-circle"></i> <span>Update Your Avatar</span></a></li>
			
			
			<li><a href="#"><i class="menu-item fa fab fa-facebook"></i> <span>Connect With Facebook</span></a></li>
		</ul>
		<hr style="border-top: 1px solid #424242;">
		<ul>
			<li><a href="#"><i class="menu-item fa fa-file-alt"></i><span>About Us</span></a></li>
			<li><a href="#"><i class="menu-item fa fa-file-contract"></i><span>Terms & Conditions</span></a></li>
			<li><a href="#"><i class="menu-item fa fa-shield-alt"></i><span>Privacy Policy</span></a></li>
			<li><a href="#"><i class="menu-item fa fa-headset"></i><span>Support</span></a></li>
			<li><a href="#"><i class="menu-item fa fa-lock"></i><span>Logout</span></a></li>
		</ul>
	</div>
</div>	


<div class="header-strip" style="border-bottom: 1px solid #312b2b; padding-bottom:10px;">
	<span class="open-sidebar"><img src="assets/frontend/img/white-menu-icon.png"> </span>
	<img src="assets/frontend/img/logo.png" width="50">
	
		
		<a href="javascript(0);" data-toggle="modal" data-target="#loginModal"> 
			<span class="pull-right">
				<img id="user-img" class="profile-picture menu-profile-picture" src="uploads/site_users/default.png" width="44">
			</span>
		</a>
		
</div>

<section>
	<div class="container">

		

		<div class="row">
			<div class="glider-contain">
				<div class="slide-menu">
					<span><a class="nav-menu current" data-toggle="tab" href="#for-you"> For You</a></span>
					<span><a class="nav-menu" data-toggle="tab" href="#top-chart"> Top Chart</a></span>
					<span><a class="nav-menu" data-toggle="tab" href="#popular"> Popular</a></span>
					<span><a class="nav-menu" data-toggle="tab" href="#premium"> Tournaments</a></span>
						
				</div>
			</div>
		</div>

		<!-- End Menu -->
		<div class="tab-content">
		<div id="for-you" class="tab-pane fade in active">
	

		<div class="row">
				
				<iframe width="100vw" height="400" src="https://www.youtube.com/embed/0CccCbfHG1M?&autoplay=1&mute=0&enablejsapi=1"  allow="autoplay" frameborder="0"  allowfullscreen allowautoplay ></iframe>
				
				
				
		</div>
		
		
		
	<br><br>
	</div>
	</div>
</section>


<!-- Modal -->
<div class="modal fade" id="updateProfileImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-bg modal-bg-custom" align="center">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true" style="color:#fff;">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
				<br>
				<a href="#" class="btn btn-custom-light upload-image"> <i class="fa fa-user-circle fa-lg"></i> &nbsp; Update Your Avatar</a>
				<br><br><br>
				<a href="" class="btn btn-custom-facebook"> <i class="fa fab fa-facebook fa-lg"></i> &nbsp; Connect With Facebook</a>
			
				<br><br><br>
		  </div>
		 
		</div>
	</div>
</div>



<div class="modal fade" id="showProfileImages" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	
</div>



<div class="modal fade" id="showLoginProfileImages" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	
</div>


<script>
$(document).ready(function(){
$('.open-sidebar').on('click', function(){
	$("#mySidenav").show('fast');
});
});
</script>

<script>
$(document).ready(function(){
$('.closebtn').on('click', function(){
	$("#mySidenav").hide('fast');
});
});
</script>

<script>
$(document).ready(function(){
$('a.nav-menu').on('click', function(){

$('a.nav-menu').removeClass('current');
$(this).addClass('current');
});
});
</script>
<script type="text/javascript">

$(window).on('load', function() { // makes sure the whole site is loaded 
$('#status').fadeOut(); // will first fade out the loading animation 
$('#preloader').fadeOut('fast'); // will fade out the white DIV that covers the website. 
$('body').css({'overflow':'visible'});
});

/*Fixed Navigation*/

</script>




<script>
$(document).ready(function() {
$('.nav-menu').click(function(){
	
	// $("html, body").animate({ scrollTop: 0 }, "slow");
	window.scrollTo({ top: 0, behavior: 'smooth' });
});
});
</script>






</body>
</html>